body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid #333;
}

.cell:hover {
    background-color: #e0e0e0;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
.symbol {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: 80px; /* Ajuste o tamanho conforme necessário */
}
